@font-face {
    font-family: MYRIADPRO;
    src: url('../fonts/MYRIADPRO-REGULAR.OTF'), 
         url('../fonts/MyriadPro-Light.otf');
}

@font-face {
    font-family: MYRIADPRO-LIGHT;
    src: url('../fonts/MyriadPro-Light.otf');
}

@font-face {
    font-family: CINDER;
    src: url('../fonts/Cinder.ttf');
}

:root {
    --font-family: MYRIADPRO;
    --font-family-light: MYRIADPRO-LIGHT;
    --primary-color: #0F172A;
    --secondary-color: #259FFA;
    --third-color: #CB8C67;
    --font-family-cinder: CINDER;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--primary-color);
    font-family: var(--font-family);
    overflow-x: hidden;
}

/* Navbar Styles Goes Here */

nav {
    margin-top: 25px;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9; */
}

nav .nav_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1174px;
    margin: auto;
    position: relative;
}

nav .nav_wrapper::before {
    content: '';
    background-image: url('../../assets/img/nav_bottom_border.svg');
    background-size: contain;
    background-position: center;
    height: 100%;
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    width: 100%;
    background-repeat: no-repeat;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li {
    padding: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: var(--font-family);   
    text-transform: uppercase;
}

nav a.logo {
    margin-right: auto;
}

nav button {
    display: none;
}

/* Navbar Styles Ends Here */


section {
    margin: 25px 0;
}


/* Hero Section Goes Here */
#hero {
    /* position: relative; */
    width: 100%;
    /* margin-top: 130px; */
    background-color: #0F172A;
}

#hero .container {
    width: 100%;
    position: relative;
    max-width: 1174px;
    margin: auto;
}

#hero::before, #hero::after {
    content: '';
    position: absolute;
    top: 0;
    /* background-image: url('../img/hero/hero_left.svg'); */
    background-size: contain!important;
    left: 0%;
    background-position: right;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#hero::after {
    /* background-image: url('../img/hero/hero_right.svg'); */
    right: 0%!important;
    background-position: left;
    left: unset;
    bottom: 0%;
    top: unset;
}

#hero .container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero .container .row .col .hero_banner {
    background-image: url('../img/hero/hero_banner_background_shadow.svg');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#hero .container .row .col span {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: var(--secondary-color);
}

#hero .container .row .col h1 {
    margin-top: 25px;
    font-size: 108px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
}

#hero .container .row .col p {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-top: 25px;
}
/* Hero Section Ends Here */


/* About Section Goes Here */
#about {
    margin: 80px 0;
    position: relative;
}

#about .container {
    width: 100%;
    max-width: 1174px;
    margin: auto;
    position: relative;
}

#about::before {
    content: '';
    position: absolute;
    /* background-image: url('../img/hero/hero_right.svg'); */
    right: 0%!important;
    left: unset;
    bottom: 0%;
    top: unset;
    background-size: auto;
    background-position: right;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#about .container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about .container .row .col .card {
    color: white;
}

#about .container .row .col .card .about_bg_shadow {
    background-image: url('../img/about/about_banner_shadow.svg');
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}

#about .container .row .col .card span {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: var(--secondary-color);
}

#about .container .row .col .card h1 {
    margin: 15px 0;
    font-size: 48px;
    font-family: var(--font-family-light);
}

#about ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 15px 0;
    list-style: none;
    align-items: center;
}

#about ul li {
    color: var(--third-color);
    text-transform: uppercase;
    font-family: var(--font-family-light);
}

#about ul li.line {
    height: 2px;
    width: 10%;
    background-color: var(--third-color);
}

#about .container .row .col .card p {
    font-family: var(--font-family-light);
    margin: 15px 0;
    letter-spacing: 1px;
}

/* About Section Ends Here */



/* Service Section Goes Here */
#service {

}

#service .container {
    width: 100%;
    max-width: 1174px;
    margin: auto;
}

#service .container span {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: var(--secondary-color);
}

#service .container h1 {
    color: white;
    font-size: 40px;
    font-family: var(--font-family-light);
    margin: 15px 0;
}

#service ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 25px 0;
    list-style: none;
    align-items: center;
}

#service ul li {
    color: var(--third-color);
    text-transform: uppercase;
    font-family: var(--font-family-light);
}

#service ul li.line {
    height: 2px;
    width: 10%;
    background-color: var(--third-color);
}

#service .container .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    justify-content: space-between;
    align-items: center;
}

#service .container .row .col:first-child,
#service .container .row .col:nth-child(2),
#service .container .row .col:nth-child(3),
#service .container .row .col:last-child {
    background-image: url('../img/service/service_1.svg');
    background-size: auto;
    background-repeat: no-repeat;
    height: 375px;
    display: flex;
    align-items: self-start;
    justify-content: center;
}

#service .container .row .col:nth-child(2) {
    background-image: url('../img/service/service_2.svg');
}

#service .container .row .col:nth-child(3) {
    background-image: url('../img/service/service_3.svg');
}

#service .container .row .col:last-child {
    background-image: url('../img/service/service_4.svg');
}

#service .container .row .col .card {
    padding: 35px 0;
    text-align: center;
    color: white;
    width: 70%;
}

#service .container .row .col .card span {
    font-family: var(--font-family-cinder);
    color: #565864;
    font-size: 96px;
}

#service .container .row .col .card h2 {
    margin-bottom: 15px;
}

#service .container .row .col .card p {
    font-size: 14px;
}

/* Service Section Ends Here */


/* Approach Section Goes Here */
#approach {
    margin: 100px 0!important;
}

#approach .container {
    width: 100%;
    max-width: 1174px;
    margin: auto;
}

#approach .container .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    justify-content: space-between;
    align-items: center;
}

#approach .container .row .col .card {
    color: white;
}

#approach .container .row .col .card span {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: var(--secondary-color);
}

#approach .container .row .col .card h1 {
    margin: 15px 0;
    font-size: 42px;
    font-family: var(--font-family-light);
}

#approach .heading_list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 25px 0;
    list-style: none;
    align-items: center;
}

#approach .heading_list li {
    color: var(--third-color);
    text-transform: uppercase;
    font-family: var(--font-family-light);
}

#approach .heading_list li.line {
    height: 2px;
    width: 10%;
    background-color: var(--third-color);
}

#approach .container .row .col .card p {
    margin: 15px 0;
}

#approach .container .row .col .card .description_list {
    padding: 20px;
}
/* Approach Section Ends Here */

/* Join Section Goes Here */
#join {
    text-align: center;
}

#join .wrapper {
    background-image: url('../img/mapbg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150vh;
    width: 100%;
}

#join .container {
    width: 100%;
    max-width: 1174px;
    height: 100%;
    margin: auto;
}

#join .container .row {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#join .container .row .col {
    margin: 15px;
}

#join .container .row .col .card {
    text-align: left!important;
}

#join .container .row .col .card span {
    font-size: unset;
}

#join .container .row .col .card img {
    width: 100%;
}

#join span {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: var(--secondary-color);
}

#join h1 {
    margin: 15px 0;
    font-size: 42px;
    font-family: var(--font-family-light);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#join h1 img {
    margin: 0 15px;
}

#join ul {
    width: 100%;
    max-width: 990px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 25px auto;
    list-style: none;
    align-items: center;
}

#join ul li {
    color: var(--third-color);
    text-transform: uppercase;
    font-family: var(--font-family-light);
}

#join ul li.line {
    height: 2px;
    width: 10%;
    background-color: var(--third-color);
}

#join .container .row {
    
}
/* Join Section Ends Here */

/* FAQ Section Goes Here */
#faq {
    margin-top: 100px;
}   

#faq .container {
    width: 100%;
    max-width: 1174px;
    height: 100%;
    margin: auto;
    text-align: right!important;
}

#faq .container span {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: var(--secondary-color);
    
}

#faq .container h1 {
    color: white;
    font-size: 64px!important;
}

#faq .container .row .col .card {

}

#faq .container .row .col .card .collapsible {
    background-color: transparent;
    color: white;
    font-size: 18px!important;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    border-bottom: 3px solid #414559;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#faq .container .row .col .card .collapsible:last-child {
    border-bottom: 0!important;
}

#faq .container .row .col .card .collapsible i {
    transition: all .3s ease;
    font-size: 24px;
}

#faq .container .row .col .card .collapsible i.bx-minus-circle {
    color: var(--secondary-color);
}
  
#faq .container .row .col .card .active, .collapsible:hover {
    /* background-color: #555; */
}
  
#faq .container .row .col .card .content {
    padding: 0 18px;
    color: white;
    text-align: left;
    
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
    /* background-color: #f1f1f1; */
}
/* FAQ Section Ends Here */

/* Contact Section Goes Here */
#contact {
    background-image: url(../img/contactBg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
    margin-top: 150px;
}

#contact .container {
    width: 100%;
    max-width: 1174px;
    height: 100%;
    margin: auto;
}

#contact .container .row {
    display: grid;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    grid-template-columns: 1fr 1fr;
}

#contact .container .row .col {
    
}

#contact .container .row .col .card span,
#contact .container .row .col .card a {
    color: var(--secondary-color);    
}

#contact .container .row .col .card p {
    color: white;
}

#contact .container .row .col .card h1 {
    color: white;
    margin-bottom: 25px;
    font-size: 62px;
}

#contact .container .row .col .card {
    color: white;
}

#contact .container .row .col .card .input_wrapper {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

#contact .container .row .col .card .input_wrapper input,
#contact .container .row .col .card .input_wrapper textarea {
    width: 100%;
    background-color: transparent;
    border: 3px solid #858590;
    outline: 0;
    border-radius: 5px;
    padding: 15px;
    margin: 5px 0;
}

#contact .container .row .col .card button {
    background-color: #0080ff;
    width: 100%;
    padding: 15px;
    color: white;
    border: 2px solid #0080ff;
    outline: 0;
    border-radius: 5px;
    transition: all .3s ease;
    cursor: pointer;
}

#contact .container .row .col .card button:hover {
    background-color: #0574e3;
}
/* Contact Section Ends Here */

/* Footer Goes Here */
footer {
    margin: 50px 0;
}

footer .container {
    width: 100%;
    max-width: 1174px;
    height: 100%;
    margin: auto;
}

footer .container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container .row .col .card {
    color: white;
}

footer .container .row .col .card h1 {
    font-size: 48px;
}

footer .container .row .col:first-child .card ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 25px;
}

footer .container .row .col:first-child .card ul li {
    margin: 5px 0;
}

footer .container .row .col:nth-child(2) .card ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

footer .container .row .col:nth-child(2) .card ul li {
    margin: 0 15px;
    background-color: #1e293b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}

footer .container .row .col:nth-child(2) .card ul li a {
    font-size: 24px;
    padding: 15px 18px;
    
}

footer .container .row .col:nth-child(2) .card ul li:hover {
    background-color: #2563eb;
}

footer .container .row .col .card a {
    color: white;
    text-decoration: none;
}

footer .container p {
    color: white;
}

.copyrights {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyrights i {
    margin-right: 10px;
}
/* Footer Ends Here */

@media screen and (max-width: 990px) {
    body {
        overflow-x: auto;
    }

    .container, nav {
        padding: 25px;
    }

    nav {
        margin-top: 0;
    }

    nav ul {
        top: -100%;
        position: fixed;
        height: 100vh;
        flex-direction: column;
        z-index: 999;
        background-color: #0F172A;
        width: 100%;
        transition: all .3s ease;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    nav button {
        cursor: pointer;
    }

    nav ul #close_nav_btn {
        position: absolute;
        top: 30px;
        right: 30px;
    }

    nav button {
        display: block;
        background-color: transparent;
        outline: 0;
        border: 0;
        color: white;
        font-size: 42px;
    }

    #hero .container.banner_bg::before, #hero .container.banner_bg::after,
    #about .container.banner_bg::before {
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: 100%;
        bottom: 0;
    }

    #service .container .row .col:first-child, #service .container .row .col:nth-child(2), #service .container .row .col:nth-child(3), #service .container .row .col:last-child {
        height: 660px!important;
        background-size: contain; 
        background-position: center;
    }

    #service .container .row .col {
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
    }

    #hero .container .row,
    #about .container .row {
        flex-wrap: wrap;
    }

    #hero .container .row .col,
    #about .container .row .col {
        width: 100%;
    }

    #hero .card img,
    #about .card .about_bg_shadow img,
    #service .card img,
    #approach .card img {
        width: 100%;
    }

    h1 {
        font-size: 34px!important;
    }

    #service .container .row,
    #approach .container .row,
    #contact .container .row  {
        grid-template-columns: 1fr;
    }

    #contact {
        height: 100%;
        margin-top: 0;
    } 

    #contact .row .col:first-child {
        text-align: center;
    }

    #join .wrapper {
        background-size: cover;
    }

}