@font-face {
    font-family: MYRIADPRO;
    src: url('../fonts/MYRIADPRO-REGULAR.OTF'), 
         url('../fonts/MyriadPro-Light.otf');
}

@font-face {
    font-family: MYRIADPRO-LIGHT;
    src: url('../fonts/MyriadPro-Light.otf');
}

@font-face {
    font-family: CINDER;
    src: url('../fonts/Cinder.ttf');
}

:root {
    --font-family: MYRIADPRO;
    --font-family-light: MYRIADPRO-LIGHT;
    --primary-color: #0F172A;
    --secondary-color: #259FFA;
    --third-color: #CB8C67;
    --font-family-cinder: CINDER;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background: var(--primary-color);
    font-family: var(--font-family);
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-image: url(../img/htmlVg.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Navbar Styles Goes Here */

nav {
    padding-top: 25px;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9; */
}

nav .nav_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1174px;
    margin: auto;
    position: relative;
}

nav .nav_wrapper::before {
    content: '';
    background-image: url('../../assets/img/nav_bottom_border.svg');
    background-size: contain;
    background-position: center;
    height: 100%;
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    width: 100%;
    background-repeat: no-repeat;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li {
    padding: 15px;
}

nav ul .ai_model_nav_link a {
    display: flex;
    justify-content: center;
    align-items: center;

    background: -webkit-linear-gradient(#5C49EA, #3DAFE9, #94FFED);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul .ai_model_nav_link a svg{
    width: 25px;
    margin-right: 10px;
    fill: linear-gradient(#5C49EA, #3DAFE9, #94FFED);
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: var(--font-family);   
    text-transform: uppercase;
}

nav a.logo {
    margin-right: auto;
}

nav button {
    display: none;
}

.get_free_audit_btn {
    margin-left: auto;
    padding: 18px 45px;
    background-color: transparent;
    outline: 0;
    border: 0;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    background: linear-gradient(#0F172A, #0F172A 0) padding-box,
    linear-gradient(to top, #5C49EA, #3DAFE9, #94FFED) border-box;
    font-size: unset;
    display: block!important;
    transition: all .3s ease;
}

.get_free_audit_btn span {
    background: linear-gradient(to top, #5C49EA, #3DAFE9, #94FFED);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: unset;
    font-weight: 900;
}
/* Navbar Styles Ends Here */


section {
    margin: 25px 0;
}


/* Hero Section Goes Here */
#hero {
    /* position: relative; */
    width: 100%;
    /* margin-top: 130px; */
    /* background-color: #0F172A; */
}

#hero .container {
    width: 100%;
    position: relative;
    max-width: 1174px;
    margin: auto;
}

#hero::before, #hero::after {
    content: '';
    position: absolute;
    top: 0;
    /* background-image: url('../img/hero/hero_left.svg'); */
    background-size: contain!important;
    left: 0%;
    background-position: right;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#hero::after {
    /* background-image: url('../img/hero/hero_right.svg'); */
    right: 0%!important;
    background-position: left;
    left: unset;
    bottom: 0%;
    top: unset;
}

#hero .container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero .container .row .col .hero_banner {
    background-image: url('../img/hero/hero_banner_background_shadow.svg');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

#hero .container .row .col span {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: var(--secondary-color);
}

#hero .container .row .col h1 {
    margin-top: 25px;
    font-size: 98px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
}

#hero .container .row .col h1 span {
    background: linear-gradient(to top, #5C49EA, #3DAFE9, #94FFED);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: unset;
    font-weight: 900;
}

#hero .container .row .col p {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin-top: 25px;
}

#hero .herobg {
    height: 60vh;
    background-image: url(../img/hero/heroBg.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#hero .container.herobg .row {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero .container.herobg .row h1 {
    margin-bottom: 20px;
}

#hero .container.herobg .row button {
    margin: auto;
}
/* Hero Section Ends Here */


/* About Section Goes Here */
#about {
    margin: 80px 0;
    position: relative;
}

#about .container {
    width: 100%;
    max-width: 1174px;
    margin: auto;
    position: relative;
}

#about::before {
    content: '';
    position: absolute;
    /* background-image: url('../img/hero/hero_right.svg'); */
    right: 0%!important;
    left: unset;
    bottom: 0%;
    top: unset;
    background-size: auto;
    background-position: right;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#about .container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about .container .row .col .card {
    color: white;
}

#about .container .row .col .card .about_bg_shadow {
    background-image: url('../img/about/about_banner_shadow.svg');
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}

#about .container .row .col .card span {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: var(--secondary-color);
}

#about .container .row .col .card h1 {
    margin: 15px 0;
    font-size: 48px;
    font-family: var(--font-family-light);
}

#about ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 15px 0;
    list-style: none;
    align-items: center;
}

#about ul li {
    color: var(--third-color);
    text-transform: uppercase;
    font-family: var(--font-family-light);
}

#about ul li.line {
    height: 2px;
    width: 10%;
    background-color: var(--third-color);
}

#about .container .row .col .card p {
    font-family: var(--font-family-light);
    margin: 15px 0;
    letter-spacing: 1px;
    color: #a5a8af;
    font-weight: 300;
}

#about .container .row .col .card p span {
    color: white;
    font-weight: 900!important;
    font-size: unset;
    text-transform: unset;
}

/* About Section Ends Here */



/* Service Section Goes Here */
#service {

}

#service .container {
    width: 100%;
    max-width: 1174px;
    margin: auto;
}

#service .container span {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: var(--secondary-color);
}

#service .container h1 {
    color: white;
    font-size: 40px;
    font-family: var(--font-family-light);
    margin: 15px 0;
}

#service ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 25px 0;
    list-style: none;
    align-items: center;
}

#service ul li {
    color: var(--third-color);
    text-transform: uppercase;
    font-family: var(--font-family-light);
}

#service ul li.line {
    height: 2px;
    width: 10%;
    background-color: var(--third-color);
}

#service .container .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    justify-content: space-between;
    align-items: center;
}

#service .container .row .col:first-child,
#service .container .row .col:nth-child(2),
#service .container .row .col:nth-child(3),
#service .container .row .col:last-child {
    background-image: url('../img/service/service_1.svg');
    background-size: auto;
    background-repeat: no-repeat;
    height: 375px;
    display: flex;
    align-items: self-start;
    justify-content: center;
}

#service .container .row .col:nth-child(2) {
    background-image: url('../img/service/service_2.svg');
}

#service .container .row .col:nth-child(3) {
    background-image: url('../img/service/service_3.svg');
}

#service .container .row .col:last-child {
    background-image: url('../img/service/service_4.svg');
}

#service .container .row .col .card {
    padding: 35px 0;
    text-align: center;
    color: white;
    width: 70%;
}

#service .container .row .col .card span {
    font-family: var(--font-family-cinder);
    color: #565864;
    font-size: 96px;
}

#service .container .row .col .card h2 {
    margin-bottom: 15px;
}

#service .container .row .col .card p {
    font-size: 14px;
}

/* Service Section Ends Here */


/* Approach Section Goes Here */
#approach {
    margin: 100px 0!important;
}

#approach .container {
    width: 100%;
    max-width: 1174px;
    margin: auto;
}

#approach .container .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    justify-content: space-between;
    align-items: center;
}

#approach .container .row .col .card {
    color: white;
}

#approach .container .row .col:first-child {
    background-image: url(../img/approachBg.svg);
    background-size: cover;
    background-position: center ;
}

#approach .container .row .col .card span {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: var(--secondary-color);
}

#approach .container .row .col .card h1 {
    margin: 15px 0;
    font-size: 42px;
    font-family: var(--font-family-light);
}

#approach .heading_list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 25px 0;
    list-style: none;
    align-items: center;
}

#approach .heading_list li {
    color: var(--third-color);
    text-transform: uppercase;
    font-family: var(--font-family-light);
}

#approach .heading_list li.line {
    height: 2px;
    width: 10%;
    background-color: var(--third-color);
}

#approach .container .row .col .card p,
#approach .container .row .col .card li,
#approach .container .row .col .card h2 {
    font-family: var(--font-family-light);
    color: #a5a8af;
    font-weight: 300;
}

#approach .container .row .col .card p span,
#approach .container .row .col .card h2 span {
    color: white;
    font-weight: 900!important;
    font-size: unset;
    text-transform: unset;
}

#approach .container .row .col .card .description_list {
    padding: 20px;
}
/* Approach Section Ends Here */

/* More Reasons Section Goes Here */
#reasons {
    margin: 100px 0!important;
}

#reasons .container {
    width: 100%;
    max-width: 1174px;
    margin: auto;
    text-align: center;
}

#reasons .container span {
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: var(--secondary-color);
}

#reasons .container h1 {
    margin: 15px 0;
    font-size: 42px;
    font-weight: 900!important;
    color: white;
    font-family: var(--font-family-light);
}

#reasons .container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#reasons .container .row .col {
    width: 100%;
    max-width: calc(100% / 3.5);
    margin: 15px;
}

#reasons .container .row .col .card {
    color: white;
    padding: 25px;
}

#reasons .container .row .col .card img {
    margin-bottom: 25px;
}

#reasons .container .row .col .card h2 {
    margin-bottom: 25px;
    color: #3DAFE9;
}
/* More Reasons Section Ends Here */

/* Service Section Goes Here */
#service_type {

}

#service_type .container {
    width: 100%;
    max-width: 1174px;
    margin: 25px auto;
    text-align: center;
}

#service_type .container .row.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

#service_type .container .row.title .col:first-child {
    display: flex;
}

#service_type .container .row.title .col {
    text-align: right!important;
}

#service_type .container .row.title .col:first-child .swiper-button-prev,
#service_type .container .row.title .col:first-child .swiper-button-next {
    position: unset!important;
    width: unset!important;
    height: unset!important;
    padding: 5px 15px;
    border-radius: 50%;
    color: white;
    border: 2px solid white;
}

#service_type .container .row.title .col span,
#service_type .container .mobile-view.heading span {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--secondary-color);
}

#service_type .container .row.title .col h1,
#service_type .container .mobile-view.heading h1 {
    margin: 15px 0;
    font-size: 42px;
    font-weight: 900!important;
    color: white;
    font-family: var(--font-family-light);
}

.swiper-button-next:after, .swiper-button-prev:after {
    padding: 15px;
    font-size: 24px!important;
}

#service_type .container .row.title .col:first-child .swiper-button-next {
    margin-left: 25px;
}

#service_type .container .row.swiper-wrapper .col,
#service_type .container .row.mobile-view .swiper-slide {
    border-radius: 5px;
    padding: 50px;
    box-shadow: 1px 2px 19px -3px #000;
    border-radius: 8px;
    height: 350px;
    background: rgba(0, 0, 0, 0.013);
    border-radius: 16px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(49, 49, 49, 0.71);
}

#service_type .container .row.pc-view .swiper-slide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
}

#service_type .container .mobile-view .swiper-image {
    padding: 0;
}

#service_type .container .row.swiper-wrapper .col .card,
#service_type .container .row.mobile-view .swiper-slide .swiper-image {
    background-image: url('../img/service/service_card_swiper_gradient.svg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#service_type .container .row.swiper-wrapper .col .card .card_heading,
#service_type .container .row.mobile-view .swiper-slide .swiper-image .card_heading {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 30px;
}

#service_type .container .row.swiper-wrapper .col .card .card_heading h2,
#service_type .container .row.mobile-view .swiper-slide .swiper-image .card_heading h2 {
    color: white;
    font-size: 28px;
    text-align: start;
    margin-left: 15px;
    font-weight: 900!important;
}

#service_type .container .row.swiper-wrapper .col .card p,
#service_type .container .row.mobile-view .swiper-slide .swiper-image p {
    text-align: left;
    color: #F2F2F2;
    font-weight: 100!important;
}

#service_type .container .swiper-pagination {
    position: unset!important;
    margin-top: 50px;
}

#service_type .container .swiper-pagination .swiper-pagination-bullet-active {
    background-color: white!important;
    width: 25px;
    transition: all .3s ease;
    border-radius: 5px;
}

#service_type .container .swiper-pagination .swiper-pagination-bullet {
    background-color: #858590;
}
/* Service Section Ends Here */

/* Roadmap Section Goes Here */
#roadmap {

}

#roadmap .container {
    width: 100%;
    max-width: 1174px;
    margin: 25px auto;
    height: 100%;
    text-align: left;
}

#roadmap .container span {
    font-size: 14px;
    text-transform: capitalize;
    font-style: italic;
    color: var(--secondary-color);
}

#roadmap .container h1 {
    margin: 15px 0;
    font-size: 42px;
    font-weight: 900!important;
    color: white;
    font-family: var(--font-family-light);
}

#roadmap .container .row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}

#roadmap .container .row .col {
    color: white;
    padding: 25px;
}

#roadmap .container .row .col:first-child {
    text-align: right;
    display: flex;
    height: auto;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: column;
}

#roadmap .container .row .col .card {
    height: auto;
}

#roadmap .container .row .col .card h2 {
    font-size: 32px;
    margin-bottom: 15px;
    color: var(--secondary-color);
}

#roadmap .container .row .col .card p,
#roadmap .container .row .col .card li {
    color: #858590;
}

#roadmap .container .row .col .card p span {
    color: #94FFED;
    font-family: var(--font-family-light);
}

#roadmap .container .row .col:last-child {
    text-align: left;
    display: flex;
    height: auto;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: column;
}
/* Roadmap Section Ends Here */

/* Join Section Goes Here */
#join {
    text-align: center;
}

#join .wrapper {
    background-image: url('../img/mapbg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150vh;
    width: 100%;
}

#join .container {
    width: 100%;
    max-width: 1174px;
    height: 100%;
    margin: auto;
}

#join .container .row {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#join .container .row .col {
    margin: 15px;
}

#join .container .row .col .card {
    text-align: left!important;
}

#join .container .row .col .card span {
    font-size: unset;
}

#join .container .row .col .card img {
    width: 100%;
}

#join span {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: var(--secondary-color);
}

#join h1 {
    margin: 15px 0;
    font-size: 42px;
    font-family: var(--font-family-light);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#join h1 img {
    margin: 0 15px;
}

#join ul {
    width: 100%;
    max-width: 990px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 25px auto;
    list-style: none;
    align-items: center;
}

#join ul li {
    color: var(--third-color);
    text-transform: uppercase;
    font-family: var(--font-family-light);
}

#join ul li.line {
    height: 2px;
    width: 10%;
    background-color: var(--third-color);
}

#join .container .row {
    
}
/* Join Section Ends Here */

/* FAQ Section Goes Here */
#faq {
    margin-top: 100px;
}   

#faq .container {
    width: 100%;
    max-width: 1174px;
    height: 100%;
    margin: auto;
    text-align: right!important;
}

#faq .container span {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: var(--secondary-color);
    
}

#faq .container h1 {
    color: white;
    font-size: 64px!important;
}

#faq .container .row .col .card {

}

#faq .container .row .col .card .collapsible {
    background-color: transparent;
    color: white;
    font-size: 18px!important;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    border-bottom: 3px solid #414559;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#faq .container .row .col .card .collapsible:last-child {
    border-bottom: 0!important;
}

#faq .container .row .col .card .collapsible i {
    transition: all .3s ease;
    font-size: 24px;
}

#faq .container .row .col .card .collapsible i.bx-minus-circle {
    color: var(--secondary-color);
}
  
#faq .container .row .col .card .active, .collapsible:hover {
    /* background-color: #555; */
}
  
#faq .container .row .col .card .content {
    padding: 0 18px;
    color: white;
    text-align: left;
    
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
    /* background-color: #f1f1f1; */
}
/* FAQ Section Ends Here */

/* Contact Section Goes Here */
#contact {
    background-image: url(../img/contactBg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
    margin-top: 150px;
}

#contact .container {
    width: 100%;
    max-width: 1174px;
    height: 100%;
    margin: auto;
}

#contact .container .row {
    display: grid;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    grid-template-columns: 1fr 1fr;
}

#contact .container .row .col {
    
}

#contact .container .row .col .card span,
#contact .container .row .col .card a {
    color: var(--secondary-color);    
}

#contact .container .row .col .card p {
    color: white;
}

#contact .container .row .col .card h1 {
    color: white;
    margin-bottom: 25px;
    font-size: 62px;
}

#contact .container .row .col .card {
    color: white;
}

#contact .container .row .col .card .input_wrapper {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

#contact .container .row .col .card .input_wrapper input,
#contact .container .row .col .card .input_wrapper textarea {
    width: 100%;
    background-color: transparent;
    border: 3px solid #858590;
    color: white;
    outline: 0;
    border-radius: 5px;
    padding: 15px;
    margin: 5px 0;
}

#contact .container .row .col .card button {
    background-color: #0080ff;
    width: 100%;
    padding: 15px;
    color: white;
    border: 2px solid #0080ff;
    outline: 0;
    border-radius: 5px;
    transition: all .3s ease;
    cursor: pointer;
}

#contact .container .row .col .card button:hover {
    background-color: #0574e3;
}
/* Contact Section Ends Here */

/* Footer Goes Here */
footer {
    margin: 50px 0;
}

footer .container {
    width: 100%;
    max-width: 1174px;
    height: 100%;
    margin: auto;
}

footer .container .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container .row .col .card {
    color: white;
}

footer .container .row .col .card h1 {
    font-size: 48px;
}

footer .container .row .col:first-child .card ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 25px;
}

footer .container .row .col:first-child .card ul li {
    margin: 5px 0;
}

footer .container .row .col:nth-child(2) .card ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

footer .container .row .col:nth-child(2) .card ul li {
    margin: 15px;
    background: #1e293b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}

footer .container .row .col:nth-child(2) .card ul li:hover {
    background: linear-gradient(to top, #5C49EA, #3DAFE9, #94FFED);
}

footer .container .row .col:nth-child(2) .card ul li a {
    font-size: 24px;
    padding: 15px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;
}

footer .container .row .col:nth-child(2) .card ul li a {
    color: white;
}

footer .container .row .col:nth-child(2) .card ul li:hover a {
    color: black;
}

/* footer .container .row .col:nth-child(2) .card ul li:hover {
    background-color: #2563eb;
} */

footer .container .row .col .card a {
    color: white;
    text-decoration: none;
}

footer .container p {
    color: #858590;
}

footer a {
    color: var(--secondary-color);
}

.copyrights {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyrights i {
    margin-right: 10px;
}
/* Footer Ends Here */




/* AI model section Goes Here */
#ai {
    position: fixed;
    bottom: 50px;
    right: 75px;
    z-index: 9999;
}

#ai .container {
    position: relative;
}

#ai .container .button_wrapper {
    position: absolute;
    background: linear-gradient(to top, #5C49EA, #3DAFE9, #94FFED);
    padding: 15px 16px;
    border-radius: 50%;
    font-size: 18px;
    color: white;
    background-position: 100%;
    animation: gradient .1s ease infinite;
    cursor: pointer;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#ai .container .chat_wrapper {
    display: none;
    position: absolute;
}

#ai .container .chat_wrapper.active {
    width: 350px;
    height: 550px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    right: 0;
    opacity: 1;
    visibility: visible;
    border-radius: 15px;
    transition: all .3s ease;
}

#ai .container .chat_wrapper .row {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    align-items: center;
}

#ai .container .chat_wrapper .row .col {
    font-family: var(--font-family-light);
}

#ai .container .chat_wrapper .row .col h1 {
    font-size: 18px;
}

#ai .container .chat_wrapper .row .col p {
    font-size: 14px;
    color: #b8b8b8;
}

#ai .container .chat_wrapper .row .col .close-btn {
    font-size: 24px;
    cursor: pointer;
    font-weight: 900;
}

#ai .container .chat_wrapper .row.border-top {
    border-top: 1px solid #e7e7e7;
}

#ai .container .chat_wrapper .row.body_row {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
}

#ai .container .chat_wrapper .row.body_row .col img {
    width: 50px;
    margin-bottom: 10px;
}

#ai .container .chat_wrapper .row.chat_row {
    width: 100%;
}

#ai .container .chat_wrapper .row.chat_row .col {
    width: 100%;
}

#ai .container .chat_wrapper .row.chat_row .col {
    width: 100%;
    border: 1px solid #e7e7e7;
    padding: 15px;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

#ai .container .chat_wrapper .row.chat_row .col input,
#ai .container .chat_wrapper .row.chat_row .col button {
    outline: 0;
    border: 0;
    height: 100%;
    word-wrap: break-word;
    word-break: break-all;
    width: 100%;
}

#ai .container .chat_wrapper .row.chat_row .col button {
    width: unset;
    padding: 13px 13px;
    background: #e1e1e1;
    color: black;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: all .2s ease;
    border-radius: 50%;
}

#ai .container .chat_wrapper .row.chat_row .col button.active {
    color: white;
    cursor: pointer;
    background: linear-gradient(to top, #5C49EA, #3DAFE9, #94FFED);
}

/* AI model section Ends Here */




.mobile-view {
    display: none!important;
}

:root {
    --swiper-image-ratio: 33.3%; /* ratio 16:9 = 56.25% */
  
    --swiper-width: 50%;
    --swiper-inactive-scale: .85; /* makes the other slide smaller */
    
    /* responsive settings */
    --swiper-mobile-width: 70%;
    --swiper-mobile-inactive-scale: .95;
  }

  
  .mobile-view .container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .mobile-view .swiper {
      position: relative;
      width: 100%;
      height: calc(var(--swiper-width) * var(--swiper-image-ratio) / 100%);
      overflow: hidden;
  }
  
  .mobile-view .swiper-slide {
    position: relative;
    width: var(--swiper-width);
    opacity: .5;
    transform: scale(.84);
    transition: all .3s ease-in-out;
    overflow: hidden;
    border-radius: 0.4285rem;
  }
  
  .mobile-view .swiper-backface-hidden .swiper-slide {
    transform: scale(.84) translateZ(0);
  }
          
  .mobile-view .swiper-slide.swiper-slide-active {  
    transform: scale(1) !important;
    opacity: 1 !important;
  }
  
  .mobile-view .swiper-backface-hidden .swiper-slide.swiper-slide-active {
    transform: scale(1) translateZ(0) !important;
  }
  
  .mobile-view .swiper-image {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: var(--swiper-image-ratio);
  }
      
  .mobile-view .swiper-image .image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    bottom: 0;
    right: 0;
    background-color: #929ec9;
  }
  
  .mobile-view .swiper-button-next,
  .mobile-view  .swiper-button-prev {
    width: 12px;
    height: 12px;
    margin-top: 0;
    border-radius: 50%;
    border: 1px solid white!important;
    padding: 30px!important;
    position: unset!important;
  }
  
  .mobile-view  .swiper-button-next::after,
  .mobile-view  .swiper-button-prev::after {
    color: #fff;
    font-size: 12px;
  }

  .mobile-view .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
  }

  .mobile-view .wrapper .swiper-button-next {
    margin-left: 15px;
  }

  
  @media only screen and (max-width: 768px) {
    .mobile-view    .swiper {
      height: calc(var(--swiper-mobile-width) * var(--swiper-image-ratio) / 100%);
    }
  
    .mobile-view    .swiper-slide {
      width: var(--swiper-mobile-width);
      transform: scale(var(--swiper-mobile-inactive-scale));
    }
    
    .mobile-view    .swiper-backface-hidden .swiper-slide.swiper-slide {
      transform: scale(var(--swiper-mobile-inactive-scale)) translateZ(0);
    }
  
    .mobile-view   .swiper-button-next {
      right: calc((100% - var(--swiper-mobile-width)) / 2);
    }
  
    .mobile-view   .swiper-button-prev {
      left: calc((100% - var(--swiper-mobile-width)) / 2);
    }
  }

@media screen and (max-width: 990px) {

    #service_type .container .row.swiper-wrapper .col .card .card_heading h2, #service_type .container .row.mobile-view .swiper-slide .swiper-image .card_heading h2 {
        font-size: 18px;
    }

    #service_type .container .row.swiper-wrapper .col .card p, #service_type .container .row.mobile-view .swiper-slide .swiper-image p {
        color: #fff;
        font-size: 14px;
    }

    footer .container .row {
        flex-wrap: wrap;
    }

    footer .container .row .col:first-child {
        order: 2;
    }

    footer .container .row .col:last-child {
        order: 1;
    }

    footer .container .row .col:nth-child(2) .card ul {
        margin-bottom: 25px;
    }

    footer .container .row .col:nth-child(2) .card ul li {
        margin: 5px;
    }

    footer .container .row .col:nth-child(2) .card ul li:first-child {
        margin-left: 0;
    }

    footer .container .row .col:nth-child(2) .card ul li a {
        font-size: 14px;
    }

    #faq .container {
        text-align: left!important;
    }

    #faq .container h1 {
        font-size: 34px!important;
        margin-bottom: 35px;
    }

    #faq .container span {
        font-size: 18px!important;
    }

    .mobile-view {
        display: block!important;
    }

    .pc-view {
        display: none!important;
    }

    body {
        overflow-x: auto;
    }

    .container, nav {
        padding: 25px;
    }

    nav {
        margin-top: 0;
    }

    nav ul {
        top: -100%;
        position: fixed;
        height: 100vh;
        flex-direction: column;
        z-index: 999;
        background-color: #4F5267;
        width: 100%;
        transition: all .3s ease;
        left: 0;
        top: -100%;
        right: 0;
        bottom: 0;
    }

    nav button {
        cursor: pointer;
    }

    nav ul #close_nav_btn {
        position: absolute;
        top: 30px;
        right: 30px;
    }

    nav button {
        display: block;
        background-color: transparent;
        outline: 0;
        border: 0;
        color: white;
        font-size: 42px;
    }

    nav .get_free_audit_btn {
        display: none!important;
    }

    #hero .container.banner_bg::before, #hero .container.banner_bg::after,
    #about .container.banner_bg::before {
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: 100%;
        bottom: 0;
    }

    #service .container .row .col:first-child, #service .container .row .col:nth-child(2), #service .container .row .col:nth-child(3), #service .container .row .col:last-child {
        height: 660px!important;
        background-size: contain; 
        background-position: center;
    }

    #about .container .row .col:first-child{
        order: 1;
    }

    #approach .container .row .col:first-child {
        order: 2;
    }

    #about .container .row .col:last-child {
        order: 2;
    }

    #approach .container .row .col:last-child {
        order: 1;
    }

    #service .container .row .col {
        display: flex!important;
        justify-content: center!important;
        align-items: center!important;
    }

    #hero .container .row,
    #about .container .row {
        flex-wrap: wrap;
    }

    #hero .container .row .col,
    #about .container .row .col {
        width: 100%;
    }

    #hero .card img,
    #about .card .about_bg_shadow img,
    #service .card img,
    #approach .card img {
        width: 100%;
    }

    #about .col:last-child {
        order: 1;
    }

    #about .col:first-child {
        order: 2;
    }

    h1 {
        font-size: 34px!important;
    }

    #service .container .row,
    #approach .container .row,
    #contact .container .row  {
        grid-template-columns: 1fr;
    }

    #contact {
        height: 100%;
        margin-top: 0;
    } 

    #contact .row .col:first-child {
        text-align: center;
    }

    #join .wrapper {
        background-size: cover;
    }

    #reasons .more-reason-swiper .swiper-image {
        color: white;
    }

    #reasons .more-reason-swiper .swiper-image h2 {
        color: var(--secondary-color);
        margin-bottom: 25px;
    }

    #reasons .more-reason-swiper .swiper-pagination {
        position: unset!important;
        margin-top: 50px;
    }
    
    #reasons .more-reason-swiper .swiper-pagination .swiper-pagination-bullet-active {
        background-color: white!important;
        width: 25px;
        transition: all .3s ease;
        border-radius: 5px;
    }
    
    #reasons .more-reason-swiper .swiper-pagination .swiper-pagination-bullet {
        background-color: #858590;
    }

    #roadmap .container .row .col {
        padding: 0;
        width: calc(100% / 3);
    }

    #roadmap .container .row .col:first-child {
        text-align: left;
    }

    #roadmap .container .row .col:last-child br {
        display: none;
    }

    #roadmap .container .row .col .card p,
    #roadmap .container .row .col .card ul {
        display: none;
    }

    #roadmap .container .row .col .card h2 {
        font-size: 18px;
        margin: 0;
    }

    #roadmap .container .row .col img {
        width: 80%!important;
    }

    #contact {
        background-image: url(../img/contactBg_mobile.png);
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }

    footer ul {
        flex-wrap: wrap;
    }

}

/* Chat AI Model Goes Here */
#chat {
    height: 100vh;
    margin: unset!important;
}

#chat .container {
    width: 100%;
    max-width: 1174px;
    margin: auto;
    height: 100%;
    padding: 25px;
}

#chat .container .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#chat .container .row .col {
    width: 100%;
    max-width: 768px;
}

#chat .container .row.outrow .col:first-child h1 {
    color: white;
    margin-bottom: 25px;
}

#chat .container .row.outrow .col.instruction_col {
    width: 100%;
    max-width: 30%;
    background: rgba( 15, 23, 42, 0.2 );
    box-shadow: 0 8px 32px 0 rgba(16, 19, 59, 0.37);
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-right: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-right: 25px;
    height: 100%;
    color: #565864;
}

#chat .container .row.outrow .col:last-child {
    width: 100%;
    max-width: 70%;
}

#chat .container .row .col .card {
    color: white;
    width: 100%;
}

#chat .container .row .col .card h1 {
    font-size: 40px;
    font-family: var(--font-family-light);
    visibility: visible;
    opacity: 1;
    transition: all .3s ease;
}

#chat .container .row .col .card .input_wrapper {
    width: 100%;
    margin-top: 25px;

    background: rgba( 15, 23, 42, 0.2 );
    box-shadow: 0 8px 32px 0 rgba(16, 19, 59, 0.37);
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    border-radius: 5px;
    padding: 25px;
}

#chat .container .row .col .card .input_wrapper textarea {
    width: 100%;
    resize: none;
    outline: none;
    font-size: 18px;
    color: white;
    background-color: transparent;
    border: none;
}

#chat .container .row .col .card .input_wrapper svg {
    color: #fff;
}

#chat .container .row .col .card .input_wrapper .upload_file input[type='file'] {
    display: none;
}

#chat .container .row .col .card .input_wrapper .upload_file label,
#chat .container .row .col .card .input_wrapper .row.justify-content-between .col button {
    border: 1px solid rgba( 255, 255, 255, 0.18 );;
    padding: 6px 9px;
    cursor: pointer;
    display: block;
    transition: all .3s ease;
    width:min-content;
    border-radius: 50%;
}

#chat .container .row .col .card .input_wrapper .upload_file label:hover,
#chat .container .row .col .card .input_wrapper .row.justify-content-between .col button:hover {
    background-color: var(--primary-color);
}

.justify-content-between {
    justify-content: space-between!important;
    transition: all .3s ease;
}

#chat .container .row .col .card .input_wrapper .row.justify-content-between .col {
    width: unset;
}

#chat .container .row .col .card .input_wrapper .row.justify-content-between .col button {
    background-color: transparent;
    transition: all .3s ease;
}

#chat .container .row .col .card .input_wrapper .row.justify-content-between .col .ai_request_btn.active {
    background: linear-gradient(#0F172A, #0F172A 0) padding-box,
    linear-gradient(to top, #5C49EA, #3DAFE9, #94FFED) border-box;
    transition: all .3s ease;
}

.flex-column {
    flex-direction: column;
    transition: all .3s ease;
}

.output_container .row {
    display: flex;
    justify-content: end!important;
    flex-direction: column;
    align-items: end!important;
    margin-left: auto;
}

.output_container .row .col {
    background: rgba( 15, 23, 42, 0.2 );
    box-shadow: 0 8px 32px 0 rgba(16, 19, 59, 0.37);
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 15px 0;
    padding: 15px;
    color: white;
    width: fit-content!important;
}

.hide {
    visibility: hidden!important;
    opacity: 0!important;
    display: none;
}

.typewriter p {
    /* overflow: hidden;  */
    border-right: .15em solid orange; /* The typwriter cursor */
    /* white-space: nowrap;  */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  .col_left {
    margin-right: auto!important;
    background: linear-gradient(#0F172A, #0F172A 0) padding-box,
    linear-gradient(to top, #5C49EA, #3DAFE9, #94FFED) border-box!important;
  }

/* Chat AI Model Ends Here */